*{
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    gap:50px;
    align-items: center;
}

.controls{

    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: stretch;
    border:1px solid #111;
    padding:50px;
    
}

.range-value{
    width:60px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    width:600px;
    height:600px;
    align-content: flex-start;
    border-left:1px solid #aaa;
    border-top:1px solid #aaa;
    margin-top:100px;
   
}

.square{
    border-right:1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.square.colored{
    background-color: grey;
}

button{
    padding:10px;
    background-color: blueviolet;
    color: #eee;
    font-size:1.2rem;
}

.change{
    background-color:green
}

.clear{
    background-color: red;
    width:155px;
}

input[type="text"]{
    padding:10px;
    font-size:1.2rem;
    border:3px solid blueviolet;
    text-align: center;
}

.mode-value{
    width:155px;
    border:3px solid blueviolet;

}

.color-change{
    display:flex;
    justify-content: space-between;
}

input[type="color"]{
    width:155px;
    height:50px;
}

.mode-container{
    display:flex;
    justify-content: space-between;
}

.mode{
    width:155px;

}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:0;
}